body main #home{
    padding-top: 18vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
body main #home img{
    height: 30vh;
    margin-bottom: 2vh;
    filter: drop-shadow(-.5vh 1vh 3px rgba(0, 0, 0, .5));
}
body main #home #logo_skygreen{
    width: 30%;
} 
body main #home #logo_skygreen_designs{
    width: 15%;
    margin-top: 1%;
    margin-bottom: 1.5%;
}
body main #home h1{
    height: fit-content;
    width: 45%;
    margin-bottom: 15%;
    font-size: 1.7em;
    text-align: center;
}
body main #home .button_container{
    height: 10%;
    width: 40%;
    display: flex;
    justify-content: space-around;
}
body main #home .button_container a{
    border: none;
    border-radius: 1vh;
    background: linear-gradient(90deg, var(--button-color-3) -50%, var(--button-color-4));
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    color: var(--text-color-1);
    height: 100%;
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.3em;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
body main #home .button_container #go_back_button{
    border: 1px solid var(--border-color-1);
    background: transparent;
    color: var(--border-color-1);
}
body main #home button:hover{
    transform: translateY(-2px);
    box-shadow: 0 6px 14px rgba(0,0,0,0.4);
}

body main #products{
    height: fit-content;
    width: 100%;
    padding-top: 3vh;
    margin-bottom: 8vh;
}
body main #products::before {
    content: "";
    position: absolute;
    top: 100vh;
    left: 5vw;
    height: 2px;
    width: 90%;
    background: linear-gradient(to right, transparent, var(--border-color-1), transparent);
}
body main #products .products_container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    row-gap: 4vh;
}
body main #products .products_container .product{
    border-radius: 1vh;
    border: 1px solid var(--border-color-1);
    background: var(--back-color-5);
    height: 42vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
body main #products .products_container .product:hover{
    transform: translateY(-1.5vh);
    box-shadow: 0 6px 14px rgba(0,0,0,0.4);
}
body main #products .products_container .product .img_product{
    border-radius: 1vh 1vh 0vh 0vh;
    background: linear-gradient(135deg, var(--wall-color-1) -100%, var(--wall-color-2));
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
body main #products .products_container .product .img_product img{
    max-height: 90%;
    max-width: 95%;
    object-fit: cover;
    filter: drop-shadow(.5vh 1vh 15px rgba(0, 0, 0, .5));
}
body main #products .products_container .product p{
    height: 20%;
    width: 100%;
    color: var(--border-color-1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    font-weight: 300;
}

body main #products .products_container #product_select{
    border: 2px solid var(--border-color-1);
    height: 60vh;
    width: 42vw;
    position: fixed;
    top: 20vh;
    left: 29vw;
}
body main #products .products_container #product_select:hover{
    transform: translateY(0vh);
    box-shadow: none;
}
body main #products .products_container #product_select h4{
    height: 15%;
    color: var(--border-color-1);
    font-size: 170%;
    display: flex;
    align-items: center;
}
body main #products .products_container #product_select .img_product{
    border-radius: 1vh;
    height: 57%;
    width: 60%;
}
body main #products .products_container #product_select p{
    height: 12%;
    font-size: 140%;
}
body main #products .products_container #product_select button{
    border-radius: 1vh;
    border: 2px solid var(--border-color-1);
    background: transparent;
    height: 6vh;
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--border-color-1);
    font-size: 3vh;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
body main #products .products_container #product_select button:hover{
    transform: translateY(-.8vh);
    box-shadow: 0 6px 14px rgba(0,0,0,0.4);
}
body main #products .products_container #product_select button svg{
    height: 80%;
    margin-right: 5%;
}
body main #products .products_container #product_select .esc_icon{
    height: 8%;
    position: absolute;
    top: 2%;
    left: 82%;
}

@media (width < 648px) {
    body main #home #logo_skygreen{
        width: 60%;
    } 
    body main #home #logo_skygreen_designs{
        width: 35%;
        margin-top: 1%;
        margin-bottom: 5%;
    }
    body main #home h1{
        width: 90%;
        font-size: 3vh;
    }
    body main #home .button_container{
        width: 90%;
    }
    body main #home .button_container a{
        width: 47%;
    } 
    body main #products{
        padding-top: 10vh;
    }
    body main #products .products_container{
        grid-template-columns: repeat(2, 1fr);
    }
    body main #products .products_container .product{
        width: 90%;
    }
    body main #products .products_container .product:hover{
        transform: translateY(0vh);
        box-shadow: none;
    }

    body main #products .products_container #product_select{
        width: 80%;
        left: 10%;
    }
    body main #products .products_container #product_select button{
        width: 50%;
    }
}