body main #home #kitchen_complementary{
    filter: drop-shadow(-2vh 2vh 10px rgba(0, 0, 0, .5));
    
    height: 80vh;
    position: absolute;
    top: 15vh;
    left: 50vw;
}
body main #home .home_text{
    height: 90%;
    width: 50%;
    padding-top: 2%;
    position: relative;
    top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
body main #home .home_text #kitchen_logo{
    filter: drop-shadow(-.5vh 1vh 3px rgba(0, 0, 0, .5));
    height: 30vh;
    margin: 2% 0% 3% 0%;
}
body main #home .home_text #logo_skygreen{
    width: 30%;
}
body main #home .home_text #logo_skygreen_kitchen{
    width: 20%;
    margin-top: 1%;
    margin-bottom: 3%;
}
body main #home .home_text h1{
    height: 12vh;
    padding-top: 2%;
    text-align: center;
    font-size: 1.7em;
}
body main #home .home_text .button_container{
    height: 10%;
    width: 60%;
    display: flex;
    justify-content: space-around;
}
body main #home .home_text .button_container a{
    border: none;
    border-radius: 1vh;
    background: linear-gradient(90deg, var(--button-color-3) -50%, var(--button-color-4));
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    color: var(--text-color-1);
    height: 100%;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.3em;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
body main #home .home_text .button_container #go_back_button{
    border: 1px solid var(--border-color-1);
    background: transparent;
    color: var(--border-color-1);
}
body main #home .home_text button:hover{
    transform: translateY(-2px);
    box-shadow: 0 6px 14px rgba(0,0,0,0.4);
}

body main #products{
    height: fit-content;
    width: 100%;
    margin-bottom: 4%;
}
body main #products::before {
    content: "";
    position: absolute;
    top: 100vh;
    left: 5vw;
    height: 2px;
    width: 90%;
    background: linear-gradient(to right, transparent, var(--border-color-1), transparent);
}
body main #products h2{
    height: 10vh;
    width: 100%;
    padding-top: 1vh;
    text-align: center;
    font-size: 2.5em;
}
body main #products .products_container{
    height: min-content;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    row-gap: 4vh;
}
body main #products .products_container .product{
    border-radius: 1vh;
    border: 2px solid var(--border-color-1);
    background: var(--back-color-6);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
    height: 42vh;
    width: 17vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
body main #products .products_container .product p{
    color: var(--text-color-3);
    height: 8vh;
    width: 75%;
    margin-top: 3%;
    text-align: center;
    font-size: 120%;
    font-weight: 600;
}
body main #products .products_container .product img{
    margin-top: 5%;
    margin-bottom: 6%;
    max-height: 90%;
    max-width: 60%;
    object-fit: cover;
    filter: drop-shadow(1.5vh 1vh 7px rgba(0, 0, 0, .5));
}
body main #products .products_container .product .price{
    color: var(--text-color-3);
    height: 4vh;
    font-size: 120%;
    font-weight: 500;
}
body main #products .products_container .product button{
    border: none;
    border-radius: 1vh;
    border: 2px solid var(--border-color-1);
    background: linear-gradient(90deg, var(--button-color-3) -50%, var(--button-color-4));
    color: var(--text-color-1);
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    height: 12%;
    width: 80%;
    font-size: 1em;
}

@media (width < 648px) {
    body main #home .home_text{
        width: 100%;
    }
    body main #home #kitchen_complementary{
        height: 10vh;
        width: 100%;
        left: 0;
        object-fit: cover;
        visibility: hidden;
    }
    body main #home .home_text #logo_skygreen{
        width: 60%;
    }
    body main #home .home_text #logo_skygreen_kitchen{
        width: 45%;
        margin-top: 2%;
        margin-bottom: 3%;
    }
    body main #home .home_text h1{
        height: 20%;
        width: 80%;
        padding-top: 7%;
        font-size: 3vh;
    }
    body main #home .home_text .button_container{
        margin-top: 5%;
        width: 90%;
    }
    body main #home .home_text .button_container a{
        width: 47%;
    }

    body main #products{
        padding-top: 8vh;
    }
    body main #products h2{
        font-size: 200%;
    }
    body main #products .products_container{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        row-gap: 2vh;
    }
    body main #products .products_container .product{
        height: 40vh;
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    body main #products .products_container .product p{
        height: 20%;
        width: 80%;
    }
    body main #products .products_container .product img{
        max-width: 80%;
    }
    body main #products .products_container .product button{
        height: 15%;
        width: 85%;
        margin-top: 1%;
    }
}