body{
    height: 100vh;
    width: 100vw;
}
body #kitchen_home{
    height: 90vh;
    width: 100vw;
    position: relative;
    top: 10vh;
}
body #kitchen_home #kitchen_complementary{
    height: 80vh;
    position: absolute;
    top: 5vh;
    left: 50vw;
}
body #kitchen_home .home_text{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
body #kitchen_home .home_text #kitchen_logo{
    height: 30vh;
    margin: 10% 0% 3% 0%;
}
body #kitchen_home h1{
    font-size: 3em;
}
body #kitchen_home h2{
    color: var(--text-color-4);
    font-size: 2em;
    font-weight: 300;
}
body #kitchen_home .home_text button{
    border: none;
    border-radius: 1vh;
    background: var(--button-color-2);
    color: var(--text-color-3);
    height: 7%;
    width: 30%;
    font-size: 1em;
}