/* 
======================================
File: Gallery_style.css
Description: Global styles for the entire website
Author: Samuel Felipe Ovalle Rodriguez
Last modification: 2/4/2025
======================================
*/

body{
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}
body main{
    height: 100%;
    display: flex;
    position: relative;
    left: 0%;
    transition: left 0.35s ease-out;
}
body #design_name{
    border: none;
    border-radius: 2.5vh;
    background: var(--box-color-5);
    box-shadow: 0px 0px 7px rgba(0, 0, 0, .2);
    height: 5vh;
    width: 50vw;
    padding: 1vh;
    position: sticky;
    bottom: 88vh;
    left: 25vw;
    color: var(--text-color-2);
    font-size: 3vh;
    font-weight: 400;
    text-align: center;
    z-index: 1005;
}
body #design_name::placeholder{
    color: var(--text-color-3);
    font-weight: 400;
}
body #icon_magnifier{
    height: 3vh;
    display: flex;
    position: sticky;
    bottom: 88.7vh;
    left: 52vh;
    z-index: 1006;
}
body #icon_delete_text_design{
    height: 3vh;
    display: flex;
    position: sticky;
    left: 73vw;
    bottom: 88.7vh;
    z-index: 1007;
}
body main section{
    background: radial-gradient(circle at 30% 37%, var(--wall-color-0) 40%, var(--wall-color-1) 100%);
    height: 100vh;
    width: 100vw;
}
body main section .wall{
    height: 40vh;
    width: 95vw;
    margin: 0vh 2.5vw;
    display: grid;
    grid-template-columns: repeat(3, 33.3333%);
    grid-template-rows: 100%;
    position: absolute;
    top: 20%;
}
body main section .wall .img_container{
    height: 100%;
    width: 100%;
    cursor: pointer;
}
body main section .wall .img_container img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    filter: drop-shadow(1vh 1vh 1px rgba(0, 0, 0, .5));
}
body main section .floor{
    background-size: cover;
    background-position: center;
    box-shadow: inset 0px 5px 10px rgba(0, 0, 0, .2);
    height: 20vh;
    width: 100vw;
    position: absolute;
    top: 80vh;
}
body main section .floor::before{
    content: "";
    background-image: url(../../../assets/background_img/wood_texture_2.jpg);
    background-size: contain;
    box-shadow: inset 0px -5px 5px rgba(0, 0, 0, .5);
    height: 15%;
    width: 100%;
    position: absolute;
    top: -15%;
}
body .design_data{
    border-radius: 5vh;
    background: linear-gradient(86deg, var(--light-color-1) -700%, var(--light-color-2) 100%);
    max-height: 85vh;
    min-height: 70vh;
    width: 73vw;
    padding: 2%;
    position: sticky;
    bottom: 15vh;
    left: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .5fr 1fr repeat(2, 17%);
    justify-content: center;
    align-items: center;
}
body .design_data .design_img{
    background: linear-gradient(-45deg, var(--box-color-8) -30%, var(--box-color-9) 200%);
    border-radius: 5vh;
    height: 60vh;
    width: 60vh;
    display: flex;
    grid-column: 1/2;
    grid-row: 1/6;
    justify-content: center;
    align-items: center;
}
body .design_data .design_img img{
    height: 80%;
    max-width: 90%;
    object-fit: contain;
    filter: drop-shadow(1.5vh 1.5vh 1px rgba(0, 0, 0, .5));
}
body .design_data .product_name{
    height: 100%;
    margin-left: 5%;
    font-size: 3rem;
}
body .design_data #product_units{
    background: none;
    border: none;
    height: 100%;
    font-size: 3rem;
    margin-left: 4%;
    outline: none;
    cursor: pointer;
}
body .design_data #product_units option{
    background-color: var(--light-color-2);
}
body .design_data .product_data{
    height: 100%;
    margin-left: 5%;
    list-style-type: none;
}
body .design_data .product_data li{
    font-size: 1.7rem;
    font-weight: 500;
}
body .design_data .green_button {
    border-radius: 4vh;
    height: 80%;
}
body .design_data .escape_button{
    background: var(--light-color-1);
    border-radius: 50%;
    height: 7vh;
    width: 7vh;
    position: absolute;
    top: -3%;
    left: 97%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
body .design_data .escape_button .esc_icon{
    height: 70%;
}