body{
    background: var(--box-color-6);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
header{
    background: var(--box-color-6);
}
main{
    height: 90%;
    width: 100%;
    position: relative;
    top: 10%;
    display: grid;
    grid-template-columns: 60% 40%;
}
main #personal_data{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    overflow: auto;
}
main #personal_data div{
    height: min-content;
    width: 100%;
    padding: 0% 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
main #personal_data div input, main #personal_data textarea, main #personal_data div select{
    border: none;
    border-radius: 2vh;
    color: var(--text-color-2);
    height: 8vh;
    width: 90%;
    padding-left: 1.5%;
    margin-bottom: 4vh;
    outline: none;
    font-weight: 500;
}
main #personal_data label{
    margin-left: 2%;
    font-weight: 400;
}
main #personal_data #company_name, main #personal_data #house_extra_info{
    grid-column: 1/3;
    width: 95%;
}
main #products{
    background: var(--box-color-5);
    height: 90vh;
    width: 40vw;
    position: fixed;
    top: 10%;
    left: 60vw;
}