:root{
    --back-color-1: #2D261C;
    --back-color-2: #14110D;
    --back-color-3: #120F08;
    --back-color-4: #0d0901;

    --text-color-1: #F2EAD8;
    --text-color-2: #C7BFAF;
    --text-color-3: #1B1813;
    --text-color-4: #946523;

    --button-color-1: #a76d2f;
    --button-color-2: #c9ab8d;

    --border-color-1: #6f521f;
}

@font-face {
    font-family: 'CormorantGaramond';
    src: url('../../../assets/fonts/Cormorant_Garamond/static/CormorantGaramond-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CormorantGaramond';
    src: url('../../../assets/fonts/Cormorant_Garamond/static/CormorantGaramond-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CormorantGaramond';
    src: url('../../../assets/fonts/Cormorant_Garamond/static/CormorantGaramond-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CormorantGaramond';
    src: url('../../../assets/fonts/Cormorant_Garamond/static/CormorantGaramond-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CormorantGaramond';
    src: url('../../../assets/fonts/Cormorant_Garamond/static/CormorantGaramond-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

html {
  scroll-behavior: smooth;
}

*{
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    color: var(--text-color-2);
    text-decoration: none;
}

li{
    list-style-type: none;
    padding-left: 0;
}

body{
    background: radial-gradient(circle at 50% 0%, var(--back-color-1), var(--back-color-2) 40%);
    overflow-x: hidden;
}
body header{
    box-shadow: 0vh 1vh 15px rgba(0, 0, 0, .5);
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
}
body header ul{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
body header ul a{
    color: var(--text-color-1);
    font-size: 1.1em;
}
body header h3,
body header #menu,
body header .icon_menu{
    display: none;
}

@media (width < 648px) {
    body header{
        border-radius: 0vh 0vw 2vw 2vh;
        background: linear-gradient(var(--back-color-1), var(--back-color-2) 300%);
        height: 8vh;
        padding-left: 3vw;
        padding-right: 3vw;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        z-index: 1000;
    }
    body header ul{
        display: none;
    }
    body header .icon_menu{
        display: block;
        height: 55%;
    }
    body header h3{
        display: inline-block;
        color: var(--text-color-1);
        font-size: 1.5em;
    }
    body header #menu{
        display: block;
        background: var(--back-color-4);
        border-radius: 4vh 0vw 0vw 4vh;
        color: var(--text-color-1);
        height: 100vh;
        width: 60vw;
        padding-top: 3vh;
        padding-right: 5vw;

        text-align: end;
        position: fixed;
        top: 0;
        left: 100vw;
        font-size: 3.5em;
        font-weight: 300;
        overflow: auto;
        z-index: 1100;

        transition: left .5s;
    }
    body header #menu ul{
        height: 80%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: end;
    }
    body header #menu ul li a{
        border-bottom: 1px solid var(--text-color-1);
        color: var(--text-color-1);
        font-size: .7em;
    }
}