/* 
======================================
File: header_style.css
Description: Global structure and style of the header
Author: Samuel Felipe Ovalle Rodriguez
Last modification: 26/3/2025
======================================
*/

/* 
Header style
*/
header {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
header .header_blur{
    background: linear-gradient(var(--light-color-1) -50%, transparent);
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
    z-index: 980;
}

/* header structure */
header div, h1{
    height: 100%;
    display: inline;
    z-index: 1011;
}
header h1 a{
    height: 100%;
    display: block;
}
header div .icon, header h1 a .icon{
    height: 40%;
    cursor: pointer;
}
header .logo_container .icon_logo{
    height: 4%;
    position: fixed;
    top: 2vh;
    left: 3vh;
}
header .icon_container{
    width: 20%;
    display: flex;
    justify-content: end;
    z-index: 1010;
}
header .icon_container .icon{
    margin-top: 2vh;
    margin-right: 2vh;
}
header .icon_container .icon_menu .st2 {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transform-origin: center;
}

.menu_active .line1 {
    transform: translateY(-30%) translateX(-40%) rotate(-45deg);
}

.menu_active .line2 {
    opacity: 0;
}

.menu_active .line3 {
    transform: translateY(30%) translateX(-40%) rotate(45deg);
}


/* dropdown panels styles */
header #menu{
    background: linear-gradient(86deg, var(--light-color-1) -700%, var(--light-color-2) 100%);
    border-radius: 2.7vw 0vw 0vw 2.7vw;
    height: 100vh;
    width: 27vw;
    padding-top: 5%;
    padding-left: 2.8%;
    padding-right: 2%;

    visibility: hidden;
    text-align: end;
    position: absolute;
    left: 100vw;
    font-size: 3.5vw;
    font-weight: 300;
    z-index: 991;
    overflow: auto;

    transition: left .5s;
}
header #menu ul{
    border-top: .1vh solid var(--light-color-1);
    list-style-type: none;
    padding-left: 0;
}
header #menu li{
    font-weight: 300;
}
header #menu li a{
    font-weight: 300;
    text-decoration: none;
}

header #shopping{
    background: linear-gradient(86deg, var(--light-color-1) -700%, var(--light-color-2) 100%);
    border-radius: 2.7vw 0vw 0vw 2.7vw;
    height: 100vh;
    width: 40vw;
    padding-top: 5%;

    visibility: hidden;
    position: absolute;
    left: 100vw;
    z-index: 990;

    transition: left .5s;
}
header #shopping .products_container{
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}
header #shopping .products_container .product_to_buy{
    background: var(--light-color-2);
    border-radius: 2.5vh;
    height: 20%;
    width: 90%;
    padding: 1%;
    margin-bottom: 5%;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 100%;
    justify-content: center;
    align-items: center;
}
header #shopping .products_container .product_to_buy img{
    max-height: 100%;
    width: 100%;
    object-fit: contain;
    justify-self: center;
    align-self: center;
}
header #shopping .products_container .product_to_buy .product_data_to_buy{
    margin-left: 5%;
    list-style-type: none;
}
header #shopping .products_container .product_to_buy .delete_product{
    border-radius: 50%;
    border: 2px solid var(--text-color-1);
    height: 6vh;
    width: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    justify-self: center;
    align-self: center;
}
header #shopping .products_container .product_to_buy .delete_product svg{
    height: 80%;
}
header #shopping #confirm_products{
    height: 10%;
    width: 90%;
}
header #shopping .no_products{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blur_screen{
    backdrop-filter: blur(5px);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s;
    z-index: 975;
}